# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.exp
*.pdb
*.log
*.recipe
*.ilk
*.res
*.tlog
*.txt
*.idb
*.def
*.rc
*.vcxproj
*.filters
*.user
*.rc2
*.db
*.ipch
*.dat
*.csproj
*.cache
*.resources
*.resx
*.settings
*.db-shm
*.db-wal
*.opendb
.vs/Kirillov_lab1_sharp/v16/.suo
*.aps
